<mat-card appearance="outlined">
  <div class="img-wrapper">
    <img  
    mat-card-image 
    [src]="data.img_src" 
    alt="no image"
    [ngClass]="{ 'image-normal': !isEditing, 'image-small': isEditing }" />
  </div>
  <mat-card-content>
    <mat-form-field  *ngIf="!data.id" appearance="outline" class="input-imgLink">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="data.title" />
    </mat-form-field>
    <h3 *ngIf="data.id" mat-card-title>{{ data.title }}</h3>
    <div class="description" *ngIf="!isEditing; else editMode">
      <p><strong>Автор:</strong> {{ data.author }}</p>
      <p><strong>Год:</strong> {{ data.year }}</p>
      <p><strong>Описание:</strong> {{ data.description }}</p>
    </div>
    <ng-template #editMode>
      <div class="description">
        <mat-form-field appearance="outline" class="input-imgLink">
          <mat-label>Link</mat-label>
          <input matInput [(ngModel)]="data.img_src" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Автор</mat-label>
          <input matInput [(ngModel)]="data.author" />
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Год</mat-label>
          <input matInput [(ngModel)]="data.year" type="number" />
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Описание</mat-label>
          <textarea matInput [(ngModel)]="data.description"></textarea>
        </mat-form-field>
      </div>
    </ng-template>
    
    <mat-card-actions>
      <button mat-button *ngIf="!isEditing" color="warn" (click)="deleteBook()">Удалить</button>
      <button mat-button *ngIf="!isEditing" (click)="startEditing()">Редактировать</button>
      <button mat-button *ngIf="isEditing" color="primary" (click)="saveChanges()">Сохранить</button>
      <button mat-button *ngIf="isEditing" (click)="cancelEditing()">Отмена</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
