<h3 mat-subheader>Book List</h3>

<mat-form-field appearance="fill">
  <mat-label>Search</mat-label>
  <input matInput [(ngModel)]="searchQuery" (input)="filterBooks()" />
</mat-form-field>
<button mat-raised-button class="add-button" (click)="openAddBookDialog()">
  <mat-icon>add</mat-icon>
  Add New Book
</button>

<mat-list>
  <div class="book-list">
    <mat-card class="book-card" appearance="outlined" 
              *ngFor="let book of filteredBooks; trackBy: trackByFn" 
              (click)="openBookDetailsDialog(book)" 
              [@fadeOut] 
              [@fadeIn]>
      <mat-card-header>
        <p class="title">
          <mat-card-title>{{ book.title }}</mat-card-title>
          <mat-card-subtitle>{{ book.author }} ({{ book.year }})</mat-card-subtitle>
        </p>
      </mat-card-header>
      <div class="img-wrapper">
        <img mat-card-image [src]="book.img_src" alt="no image">
      </div>
      <mat-card-actions>
        <button mat-button color="warn" (click)="deleteBook(book.id)">Удалить</button>
        <button mat-button (click)="openEditBookDialog(book); $event.stopPropagation()">Редактировать</button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-list>