.add-button{
    margin: 0 0 20px 20px;
}

mat-list{
    display: flex;
    justify-content: center;

    .book-list{
        display: flex;
        width: 1300px;
        flex-direction: row;
        flex-wrap: wrap;

        .book-card {
            display: flex;
            width: 300px;
            margin: 10px;
            align-items: center;

            mat-card-header{
                display: flex;
                justify-content: center;
            }

            .img-wrapper{
                height: 313px;
                width: 217px;
            }

            mat-card-actions{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
            }
            
            img{
                margin: 5px;
            }
        }
    }
}